.logo_image {
    width: 53px;
    height: 54px;
    vertical-align: middle;
}

.logo_text {
    vertical-align: middle;
    font-size: xx-large;
    font-weight: bold;
}

body {
    background-color: #f6f8f9;
    margin: 0%;
    padding: 0%;
}

.header_logo {
    background-color: #ffffff;
    width: 100%;
    margin: 0 auto;
    max-width: none;
    padding: 10px;
}

.options {
    margin-top: 60px;
    padding-left: 50px;
    padding-right: 400px;
    padding-bottom: 10px;
    border-bottom: 2px solid rgb(128, 128, 128);
}

.main_planner {
    background-color: #ffffff;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 25px;
    border-radius: 10px;
    padding-left: 30px;
    padding-right: 30px;

}

#add_task {
    background-color: #14aaf5;
    color: #ffffff;
    border: 0;
    border-radius: 5px;
    width: 80px;
    height: 30px;
    font-size: 14px;
    margin-top: 15px;
}

#add_section {
    background-color: #ffffff;
    color: #e3e6e8;
    border-color: #e3e6e8;
    border-radius: 5px;
    width: 100px;
    height: 30px;
    font-size: 14px;
    margin-top: 15px;
}

.check_p {
    color: #a7e7dc;
    border: 2px solid #a7e7dc;
    padding: 3px;
    border-radius: 50%;
    border-width: 2px;
    margin-left: 50px;
    margin-right: 10px;


}

.list {
    font-weight: bolder;
    font-size: larger;
    margin-top: 30px;
    margin-bottom: 20px;
    padding-left: 50px;
}

.editorial_button {
    background-color: #14aaf5;
    color: #ffffff;
    border: 0;
    border-radius: 12px;
    width: 80px;
    height: 30px;
    font-size: 12px;
    margin-bottom: 10px;

}

.q1goals_button {
    background-color: #ab5de6;
    color: #ffffff;
    border: 0;
    border-radius: 12px;
    width: 80px;
    height: 30px;
    font-size: 12px;
    margin-bottom: 10px;
}

.recruiting_button {
    background-color: #2cc6ab;
    color: #ffffff;
    border: 0;
    border-radius: 12px;
    width: 80px;
    height: 30px;
    font-size: 12px;
    margin-bottom: 10px;
}